<app-header title="Detalle"></app-header>


<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Producto X</ion-card-title>
            <ion-card-subtitle>Precio: 10S/.</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content class="ion-text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta totam sint dolorum nesciunt animi
            consectetur libero, accusantium magni architecto ea dignissimos eaque aliquid. Ratione ipsum quaerat
            assumenda blanditiis ab magnam!
        </ion-card-content>
    </ion-card>
</ion-content>