<app-header title="Inicio"></app-header>
<ion-content>
  <div id="container" *ngIf="!isLogged">
    <strong>No has iniciado sesion</strong>
  </div>
  <div id="container" *ngIf="isLogged">
    <strong>Bienvenido {{username}}</strong>
    <p>Implementada con Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
<ion-content *ngIf="isLogged && isAdmin">
  <div class="ion-padding">
    <ion-card>
      <img src="../../assets/img/imagen1.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img/imagen2.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-content *ngIf="isLogged && !isAdmin">
  <div class="ion-padding">
    <div>
      <ion-text-center>
        <h3>HOLA empleado</h3>
      </ion-text-center>
    </div>
    <ion-card>
      <img src="../../assets/img/imagen2.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>